# MongoDB Connection String for Production Deployment (Vercel / Netlify / Node.js)
# Example: MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/medaithon2026?retryWrites=true&w=majority

MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/medaithon2026?retryWrites=true&w=majority
MONGODB_DB=medaithon2026
